@using WebPortal.UI.Web.GlobalResource;
@{
    ViewBag.Title = Resource.ChangePassword;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    System.Collections.Hashtable User_LoginInfo = (System.Collections.Hashtable)Session["User_LoginInfo"];
    string UserName = User_LoginInfo["UserName"].ToString();
}

<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a id="HomebreadcrumbURL" href="/home/">@Resource.Home</a>
        </li>
    </ul>
</div>

<div class="page-content">
    <div class="row">
        <div class="col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="header smaller lighter blue">@Resource.ChangePassword</h3>
                    <div class="clearfix">
                        <div class="pull-right tableTools-container"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="Master_Form" class="col-sm-6 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="control-label">@Resource.Email</label><span style="color: red; padding-left: 3px;">*</span>
                                        <input type="text" id="txtEmail" class="form-control" maxlength="50" value="@UserName.ToString()" disabled placeholder="@Resource.Email" />
                                        <p class="help-block"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="control-label">@Resource.CurrentPassword</label><span style="color: red; padding-left: 3px;">*</span>
                                        <input type="password" id="txtPassword" placeholder="@Resource.CurrentPassword" class="form-control" maxlength="50" />
                                        <p class="help-block"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="control-label">@Resource.NewPassword</label><span style="color: red; padding-left: 3px;">*</span>
                                        <input type="password" id="txtNewPassword" class="form-control" placeholder="@Resource.NewPassword" maxlength="50" />
                                        <p class="help-block"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="control-label">@Resource.ConfirmNewPassword</label><span style="color: red; padding-left: 3px;">*</span>
                                        <input type="password" id="txtConfirmNewPassword" placeholder="@Resource.ConfirmNewPassword" class="form-control" maxlength="50" />
                                        <p class="help-block"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <button type="submit" id="btn_Save_Data" class="btn btn-success btn-round"><i class="fa fa-save"></i>&nbsp;@Resource.Save</button>
                            <button type="submit" id="btn_Reset_Data" class="btn btn-warning btn-round" onclick="Clear_Form_Data();"><i class="fa fa-history"></i>&nbsp;@Resource.Reset</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- page specific plugin scripts -->
@section Scripts{

    <script src="~/Scripts/Common.js"></script>

    @*Table Template*@

    <script id="AddEditDelete_Publication" type="text/javascript">

        $(document).ready(function () {
            $("#txtPassword").focus();
            $("#txtConfirmNewPassword").change(function () {
                var valid = true;
                valid = Validate_Control_ComparePassword("#txtConfirmNewPassword", "#txtNewPassword", "Confirm Password miss match", valid);
                valid = Validate_Control_ComparePasswordAll("#txtConfirmNewPassword", "#txtNewPassword", "#txtPassword", "New and old Password same", valid);
                if (valid) {
                    Reset_Form_Errors();
                }
            });


        });

        function Clear_Form_Data() {
            $("#txtPassword").focus();
            $("#txtPassword").val("");
            $("#txtNewPassword").val("");
            $("#txtConfirmNewPassword").val("");
        }

        function Reset_Form_Errors() {
            $(".form-group").removeClass("has-error");
            $(".form-group p").html("");
        }

        var Data_ViewModelComplaintType = function (Email, Password, NewPassword, ConfirmNewPassword) {

            this.Email = Email;
            this.Password = Password;
            this.NewPassword = NewPassword;
            this.ConfirmNewPassword = ConfirmNewPassword;
        };

        function Get_All_Form_Data() {

            var Email = $("#txtEmail").val().trim();
            var Password = $("#txtPassword").val().trim();
            var NewPassword = $("#txtNewPassword").val().trim();
            var ConfirmNewPassword = $("#txtConfirmNewPassword").val().trim();

            return new Data_ViewModelComplaintType(Email, Password, NewPassword, ConfirmNewPassword);
        }

        function Validate_Form_Data() {
            var valid = true;
            var FormData = Get_All_Form_Data();
            
            valid = Validate_Control_NullBlank("#txtEmail", FormData.Email, "Email is required", valid);
            valid = Validate_Control_NullBlank("#txtPassword", FormData.Password, "Password is required", valid);
            valid = Validate_Control_NullBlank("#txtNewPassword", FormData.NewPassword, "New Password is required", valid);
            valid = Validate_Control_NullBlank("#txtConfirmNewPassword", FormData.ConfirmNewPassword, " Confirm New Password is required", valid);

            return valid;
        }

        $("#btn_Save_Data").click(function () {
            Reset_Form_Errors();
            if (Validate_Form_Data()) {
                var FormData = Get_All_Form_Data();
                //submit data to server
                $.ajax({
                    type: "POST", cache: false, url: "/Login/ChangePassword", data: { Model: FormData },
                    success: function (data) {
                        if (data != null) {
                            if (data.Status == 'Success') {
                                if (eval(data.Data) > 0) {
                                    Clear_Form_Data();
                                    toastr.success(data.Message);
                                } else {
                                    toastr.error(data.Message);
                                }
                            }
                            else {
                                toastr.error(data.Message);
                            }
                        }
                        else {
                            toastr.error(data.Message);
                        }
                    }
                });
            }
        });

        $("#btn_Reset_Data").click(function () {
            Clear_Form_Data();
            Reset_Form_Errors();
        });

    </script>

}
