@model WebPortal.Business.Entities.ViewModels.LoginViewModel

@using WebPortal.UI.Web.GlobalResource;
@{
    ViewBag.Title = Resource.Forgotpassword;
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <META Http-Equiv="Cache-Control" Content="no-cache">
    <META Http-Equiv="Pragma" Content="no-cache">
    <META Http-Equiv="Expires" Content="0">
    <title>@Resource.Forgotpassword</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Custom Theme files -->
    <link href="~/assets/css/loginstyle.css" rel="stylesheet" type="text/css" media="all" />
    <!-- //Custom Theme files -->
    <!-- web font -->
    <link href="//fonts.googleapis.com/css?family=Cormorant+Garamond:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Arsenal:400,400i,700,700i" rel="stylesheet">
    <!-- //web font -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css" />
    <link href="~/assets/css/toastr.css" rel="stylesheet" />

    <style>
        .login-form input[type="text"], .login-form input[type="password"] {
            opacity: 0.9;
            border: 1px !important;
        }

    </style>
    <script src="~/assets/js/jquery-2.1.4.min.js"></script>
    <script>
        $(document).ready(function () {
            function disableBack() { window.history.forward(); }

            window.onload = disableBack();
            window.onpageshow = function (evt) { if (evt.persisted) disableBack(); }

            $("#IPAddress").val("102.120.36.25");

        });

    </script>
</head>
<body>
    <!-- main -->
    <div class="main-agileinfo slider ">
        <div class="items-group">
            <div class="item agileits-w3layouts">
                <div class="block text main-agileits" style="box-shadow: 0px 0px 70px #000;">
                    <span class="circleLight"></span>
                    <!-- login form -->
                    <div class="login-form loginw3-agile">
                        <div class="agile-row" style="text-align: center;">
                            <img src="~/assets/images/LoginLogo.png" alt="Logo">
                            <div id="divForgotChangePassword">
                                <div class="login-agileits-top" style="text-align: left;">

                                    <div class="form-group">
                                        <input type="hidden" id="hf_EndUserID" value="" />
                                        <label class="control-label">@Resource.LoginName</label><asterisk></asterisk>
                                        <input type="text" id="txtUserName" class="form-control" maxlength="50" placeholder="@Resource.LoginName" />
                                        <p class="help-block"></p>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label">@Resource.NewPassword</label><asterisk></asterisk>
                                        <input type="password" id="txtPassword" class="form-control" maxlength="16" placeholder="@Resource.Password" />
                                        <p class="help-block"></p>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label">@Resource.ConfirmNewPassword</label><asterisk></asterisk>
                                        <input type="password" id="txtConfirmPassword" onchange="user.CheckPassword();" class="form-control" maxlength="16" placeholder="@Resource.ConfirmPassword" />
                                        <p class="help-block"></p>
                                    </div>

                                    <p><input id="btn_ChangePassword" type="submit" onclick="user.AddUpdate();"value="@Resource.ChangePassword"></p>
                                    <span style="color:red;">@ViewBag.Error</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w3lsfooteragileits">
                    <p> &copy; 2017 All Rights Reserved </p>
                </div>
            </div>
        </div>
    </div>
    <!-- //main -->
    <!-- inline scripts related to this page -->
    <script src="~/assets/js/toastr.js"></script>
    <script src="~/Scripts/Common.js"></script>
    <script src="~/Scripts/ForgotPassword.js"></script>

    <script type="text/javascript">

        var EndUserId = "@ViewBag.ID";
        var Checkvalid = "@ViewBag.URLexpired";
        var ConfirmPasswordMissMatch = "@Resource.ConfirmPasswordMissMatch";

        $(document).ready(function () {

            if (Checkvalid != "") {

                toastr.warning("@ViewBag.URLexpired");
                $("#divForgotChangePassword :input").attr("disabled", true);
            }
            else if (EndUserId === "") {

                toastr.warning("@ViewBag.ErrorUrl");
                $("#divForgotChangePassword :input").attr("disabled", true);
            }
            else {
                $("#divForgotChangePassword :input").attr("disabled", false);
            }
        });

    </script>


</body>
</html>
