@using WebPortal.UI.Web.GlobalResource;
@using System.Web.Configuration;
@{
    var jq = WebConfigurationManager.AppSettings["jqueryVersionUpdate"].ToString();
    ViewBag.Title = Resource.FixturePart;
    Layout = "~/Views/Shared/_Layout_BS.cshtml";
}

<style>
    #tblGrid.table tr {
        counter-increment: rowNumber;
    }

        #tblGrid.table tr td:first-child::before {
            content: counter(rowNumber);
            min-width: 1em;
            margin-right: 0.5em;
        }
</style>



<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a id="HomebreadcrumbURL" href="#">@Resource.Home</a>
        </li>
        <li><a href="#">@Resource.BasicSetting</a></li>
        <li class="active"><a href="/FixturePart/Index/@ViewBag.EncryptScreenID" class="active">@Resource.FixturePart</a></li>
    </ul>
    <div id="divActions" class="pull-right" style="padding-right: 12px;">
        <span id="divExport" style="display:none;" class="dt-buttons btn-overlap btn-group">
            <a id="btnExportToExcel" href="#" style="margin-right: 9px !important;color:#393939;" class="dt-button buttons-excel" tabindex="0" aria-controls="dynamic-table" onclick="ExportToExcelGrid('#tblGrid','excel');">
                <i style="font-size: 20px !important;color: green;" class="fa fa-file-excel-o bigger-110" title="@Resource.ExportToExcel"></i> <span class="hidden">@Resource.ExportToExcel</span>
            </a>
        </span>&nbsp;&nbsp;
        <span id="divAdd" class="pull-right" title="@Resource.Add"></span>
    </div>
</div>

<div class="page-content">
    <div class="row">
        <div id="divGridFixture" class="col-lg-8 col-md-8 col-xs-12">
            <div id="dtRole_wrapper" class="form-inline dt-bootstrap no-footer">
                <table id="tblGrid" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid">
                    <template>
                        @Resource.FixturePart
                    </template>
                    <thead>
                        <tr role="row">
                            <th></th>
                            <th>@Resource.Fixture</th>
                            <th>@Resource.Part</th>
                            <th>@Resource.Quantity</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <!-- /.table-responsive -->
        </div>
        <div id="MasterForm" class="col-lg-4 col-md-4 col-xs-12" hidden></div>
    </div>
</div><!-- /.page-content -->
<!-- page specific plugin scripts -->
@section Scripts{
    <script id="Grid_Data_Template_tblGrid" type="text/x-jquery-tmpl">
        <tr data-id="${FixturePartID}">
            <td></td>
            <td class="HasUpdatetds col-md-9 col-xs-9">
                <a href="javascript:FixturePart.GetDataByID(${FixturePartID});" style="cursor:pointer;" title="@Resource.Edit">${FixtureName}</a>
            </td>
            <td align="left" class="col-md-3 col-xs-3">
                ${PartName}
            </td>
            <td align="center" class="col-md-3 col-xs-3">
                ${Quantity}
            </td>
            <td align="center" class="DeleteColumn NoExport" title="@Resource.Delete">
                <span class="fa fa-trash fa-2x DeleteIcon" onclick='FixturePart.Delete(${FixturePartID},"")'></span>
            </td>
        </tr>
    </script>
    <script src="~/Scripts/FixturePart.js?@jq"></script>
    <script type="text/javascript">
        var scrnID = @ViewBag.screenID;

        FixturePart.BindGrid();
    </script>
}