@using System.Web.Configuration;
@using WebPortal.UI.Web.GlobalResource;
@{
    var WebDashboardLogo = WebConfigurationManager.AppSettings["WebDashboardLogo"].ToString();
    var request = HttpContext.Current.Request.Url;
    var baseurl = request.Scheme + "://" + request.Authority;
    var WebDashboardLogourl = baseurl + WebDashboardLogo;

    var userName = (dynamic)null;
    if (HttpContext.Current.Session["User_LoginInfo"] == null)
    {
        Response.Redirect("~/Login");
    }
    else
    {
        var hash = (System.Collections.Hashtable)HttpContext.Current.Session["User_LoginInfo"];
        userName = hash["UserName"].ToString();
    }
}

@*Search Box CSS*@
<style type="text/css">
    .nav-search {
        position: absolute;
        right: 280px;
        line-height: 45px;
    }

    .input-icon > .ace-icon {
        top: 10px;
    }

    .nav-search .nav-search-icon {
        color: #d21c1c !important;
    }

    .nav-search .nav-search-input {
        border: none;
        width: 240px;
    }
</style>

@*Search Box CSS END*@
<div class="navbar-container ace-save-state" id="navbar-container">
    <button id="menu-toggler" type="button" class="navbar-toggle menu-toggler pull-left fixed" data-target="#sidebar">
        <!-- pull-left fixed -->
        <span class="sr-only">Toggle sidebar</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <div class="navbar-header pull-left">
        <a id="dashboardLogo" href="~/home/index/" class="navbar-brand" style="padding-top: 0px;padding-bottom: 0px;">
            <img src="@WebDashboardLogourl" style="margin-top:2px;max-height: 44px;" />
        </a>
    </div>
    <div class="navbar-buttons navbar-header pull-right" role="navigation">
        <ul class="nav ace-nav">
            <li>
                <div class="nav-search" id="nav-search" style="right:10px !important;">
                    <span class="input-icon">
                        <input type="text" placeholder="Search Screen" class="nav-search-input" id="txt-nav-search-input" autocomplete="off">
                        <i class="ace-icon fa fa-search nav-search-icon"></i>
                    </span>
                </div>
            </li>
            <li class="light-blue dropdown-modal">
                <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                    <span class="user-info"><small>@Resource.Welcome,</small><span id="lblUserName">@userName</span></span>
                    <i class="ace-icon fa fa-caret-down"></i>
                </a>
                <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                    <li><a id="aChangePasswordLink" style="cursor:pointer;"><i class="ace-icon fa fa-key"></i>@Resource.ChangePassword</a></li>
                    <li class="divider"></li>
                    <li><a href="~/Login/LogOff"><i class="ace-icon fa fa-power-off"></i>@Resource.Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div><!-- /.navbar-container -->