@using WebPortal.UI.Web.GlobalResource;


<div class="modal fade" id="myPasswordresetModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="header smaller lighter blue">@Resource.ChangePassword</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="row">
                        <div id="Master_Form_PasswordReset" class="col-xs-12">
                            @*panel panel-default*@
                            <form id="frm_layoutPasswordReset" autocomplete="off">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label class="control-label">@Resource.CurrentPassword</label><span style="color: red; padding-left: 3px;">*</span>
                                                <input autocomplete="off" type="password" id="txtPasswordreset" placeholder="@Resource.CurrentPassword" class="form-control" maxlength="50" />
                                                <p class="help-block"></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label class="control-label">@Resource.NewPassword</label><span style="color: red; padding-left: 3px;">*</span>
                                                <input autocomplete="off" type="password" id="txtNewPasswordreset" class="form-control" placeholder="@Resource.NewPassword" maxlength="50" />
                                                <p class="help-block"></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label class="control-label">@Resource.ConfirmNewPassword</label><span style="color: red; padding-left: 3px;">*</span>
                                                <input autocomplete="off" type="password" id="txtConfirmNewPasswordreset" placeholder="@Resource.ConfirmNewPassword" class="form-control" maxlength="50" />
                                                <p class="help-block"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn_Save_DataPasswordreset" class="btn btn-success btn-round"><i class="fa fa-save"></i>&nbsp;@Resource.Save</button>
                <button type="button" id="btn_Reset_DataPasswordreset" class="btn btn-warning btn-round" onclick="changepassword.Clear_Form_Data();"><i class="fa fa-history"></i>&nbsp;@Resource.Reset</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var changepassword = {

        ActiveEvent: function () {
             
            $("#btn_Save_DataPasswordreset").click(function () {
                changepassword.Reset_Form_Errors();
                var FormData = changepassword.Get_All_Form_Data();

                if (changepassword.Validate_Form_Data(FormData)) {
                    //submit data to server
                    $.ajax({
                        type: "POST", cache: false, url: "/Login/ChangePassword", data: { Model: FormData },
                        success: function (data) {
                            if (data != null) {
                                if (data.Status == 'Success') {
                                    if (eval(data.Data) > 0) {
                                        changepassword.Clear_Form_Data();
                                        toastr.success(data.Message);
                                        $("#myPasswordresetModal").modal("hide");
                                        $(".modal-backdrop").remove();
                                        $("#divPasswordlayout").html("");
                                    } else toastr.error(data.Message);
                                }
                                else toastr.error(data.Message);
                            }
                            else toastr.error(data.Message);
                        }
                    });
                }
            });

            $("#btn_Reset_DataPasswordreset").click(function () {
                changepassword.Clear_Form_Data();
                changepassword.Reset_Form_Errors();
            });

            $("#txtEmailreset").focus();
        },

        Clear_Form_Data: function () {
            $("#txtPasswordreset").val("").focus();
            $("#txtNewPasswordreset").val("");
            $("#txtConfirmNewPasswordreset").val("");
        },

        Reset_Form_Errors: function () {
            $("#frm_layoutPasswordReset .form-group").removeClass("has-error");
            $("#frm_layoutPasswordReset .form-group p").html("");
        },

        Get_All_Form_Data: function () {
            var Password = $("#txtPasswordreset").val().trim();
            var NewPassword = $("#txtNewPasswordreset").val().trim();
            var ConfirmNewPassword = $("#txtConfirmNewPasswordreset").val().trim();
            return { Password: Password, NewPassword: NewPassword, ConfirmNewPassword: ConfirmNewPassword };
        },

        Validate_Form_Data: function (FormData) {
            var valid = true;
            var FormData = changepassword.Get_All_Form_Data();

            valid = Validate_Control_NullBlank("#txtPasswordreset", FormData.Password, "", valid);
            valid = Validate_Control_NullBlank("#txtNewPasswordreset", FormData.NewPassword, "", valid);
            valid = Validate_Control_NullBlank("#txtConfirmNewPasswordreset", FormData.ConfirmNewPassword, "", valid);

            FocusOnError("#frm_layoutPasswordReset", valid);
            return valid;
        }
    };

</script>